@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #030712;
  color: #cdd6f4;
}
nav {
  background-color: #030712;
  color: #cdd6f4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  color: #89dceb;
}

h2 {
  color: #89dceb;
}